h3{
  font-family: cursive;
  font-size: xx-large;
  font-style: italic;
  margin-left: 12%;
}
#content{
  margin-top: 40px;
}
#clizzy{
  margin-top: -25%;
}
#base a:hover{
  color: blanchedalmond;

}